.submitButton {
  margin-top: 24px;
  width: 18rem;

  :global(.cds--inline-loading) {
    min-height: 16px;
  }

  :global(.cds--inline-loading__text) {
    font-size: unset;
  }
}

.alignCenter {
  display: flex;
  text-align: center;
}

.panelItemContainer {
  a {
    @extend .alignCenter;
    justify-content: space-between;
  }

  div {
    @extend .alignCenter;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 40px;
}

.changePasswordCard {
  border-radius: 0;
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
  width: 23rem;
  padding: 40px;
  position: relative;
  min-height: fit-content;
}
